<div style="opacity: 0.9" class="crop shadow-lg">
  <img src="https://images.hdqwalls.com/wallpapers/medieval-queen-p4.jpg" />
</div>

<div class="container py-5 border-left homepage">
  <div class="section-one border-bottom px-5">
    <h1>
      <strong>DUNGEON CITY'E KATIL</strong>
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 my-5 py-5">
          <h2>Harita Tanıdık Geldi Mi?</h2>
          <p >
            Dungeon City, artırılmış gerçeklik teknolojisi kullanan gerçek
            zamanlı bir mobil rol yapma oyunudur. Şehrini düşmanlardan kurtman
            gerekiyor. Avatarını oluştur, sokağa çık ve maceraya başla!
          </p>
        </div>
        <div class="col-sm-6 col-md-6 photo">
          <img
            id="soldier-photo"
            src="https://freepngimg.com/thumb/knight/89025-ii-knight-armour-souls-dark-iii.png"
            alt="warrior"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="section-two py-5 px-5">
    <h1>
      <strong>SİLAHLAN</strong>
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h2>Güçlü Düşmanlara Güçlü Ekipmanlar</h2>
          <p>
            Sokaklar tehlikeli. Önüne çıkan her düşmanla kolayca savaşabileceğini düşünüyorsan
            yanılıyorsun. Senden güçlü düşmanları yenebilmek için daha iyi ekipmanlara ihtiyacın var.
            Bu ekipmanları gizli sandıklardan, zindanlardan veya yendiğin düşmanlardan bulabilirsin.
            Karakterini geliştir ve şehrini kurtar!
          </p>
        </div>
        <div class="col-sm-6 col-md-6 photo">
          <!-- <img
            id="enemy-photo"
            src="https://i.pinimg.com/originals/12/00/5b/12005bc8c9b2caaa4744617550843ec3.png"
            alt=""
          /> -->
        </div>
      </div>
    </div>
  </section>
</div>
