<div class="container py-5 border-left homepage">
    <h1 class="page-head shadow-sm">
        Hakkında
    </h1>

    <div class="border-bottom px-5">
      <h1>
        <strong>DUNGEON CITY</strong>
      </h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 my-5 py-5">
            <p>
              Dungeon City, artırılmış gerçeklik teknolojisi kullanan gerçek
              zamanlı bir mobil rol yapma oyunudur. Şehrini düşmanlardan kurtman
              gerekiyor. Avatarını oluştur, sokağa çık ve maceraya başla!
            </p>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
