<!-- <ul
  class="nav bg-dark justify-content-center p-3 nav-fill mt-1"
>
  <li class="nav-item">
    <a class="btn btn-dark shadow-lg">Item İşlemleri</a>
  </li>
</ul> -->
<table id="userTable" class="mt-1 table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"> Id</th>
        <th scope="col"> Ad</th>
        <th scope="col"> Email</th>
        <th scope="col"> Level</th>
        <th scope="col"> Deneyim Puanı</th>
        <th scope="col"> İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [attr.id]="user.userId">
        <th scope="row">{{ user.userId }}</th>
        <td>{{ user.userName }}</td>
        <td>{{ user.userEmail }}</td>
        <td>{{ user.userLevel }}</td>
        <td>{{ user.userExp }}</td>
        <td>
          <button 
          data-bs-toggle="modal"
          data-bs-target="#editUserModal" 
          (mouseover)="loadUserDetails(user.userId)"
          style="margin-right: 3%" class="btn btn-warning">Güncelle</button>
          <button (click)="deleteUser(user.userId)" class="btn btn-danger">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
  class="modal fade"
  id="editUserModal"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Kullanıcı Güncelleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <div class="col-9">
            <form [formGroup]="detailUserForm">
              <div class="row">
                <div class="mb-3">
                  <label for="userId" class="form-label" name="userId"
                    >Kullanıcı Id</label
                  >
                  <input readonly #userId type="number" class="form-control" id="userId" formControlName="userId"/>
                </div>
                <div class="mb-3">
                  <label  for="userName" class="form-label" name="userName"
                    >Kullanıcı Adı</label
                  >
                  <input type="text" class="form-control" id="userName" formControlName="userName"/>
                </div>
                
                <div class="mb-3">
                  <label for="userEmail" class="form-label" name="userEmail"
                    >Kullanıcı Email</label
                  >
                  <input type="text" class="form-control" id="userEmail" formControlName="userEmail"/>
                </div>
              </div>
              <div class="mb-3">
                <label for="userExp" class="form-label" name="userExp"
                    >Kullanıcı Deneyim Puanı</label
                  >
                <textarea type="text" class="form-control" id="userExp" formControlName="userExp"></textarea>
              </div>
              <div class="mb-3">
                <label for="userLevel" class="form-label" name="userLevel"
                  >Kullanıcı Seviyesi</label
                >
                <input type="text" class="form-control" id="userLevel" formControlName="userLevel"/>
              </div>
              <div class="mb-3">
                <label for="createTime" class="form-label" name="createTime"
                  >Oluşturulma tarihi</label
                >
                <input readonly type="text" class="form-control" id="createTime" formControlName="createTime"/>
              </div>
              
              <div class="mb-3">
                <label for="lastLogin" class="form-label" name="lastLogin"
                  >Son Giriş Tarihi</label
                >
                <input readonly type="text" class="form-control" id="lastLogin" formControlName="lastLogin"/>
              </div>
              <div class="mb-3">
                <label for="money" class="form-label" name="money"
                  >Kullanıcı Parası</label
                >
                <input type="text" class="form-control" id="money" formControlName="money"/>
              </div>
              <button data-bs-dismiss="modal" (click)="detailUser(userId.value)"  type="submit" class="btn btn-success">Kullanıcıyı Güncelle</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
  function search() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("itemTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>