<div class="container p-5">
  
<h1 class="page-head shadow-sm">
  Giriş Yap
</h1>

<div class="col-4 ">
  
<form (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email Adresi</label>
    <input
      name="userEmail"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Email adresi giriniz."
      [(ngModel)]="loginUser.email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Şifre</label>
    <input
      name="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Şifre Giriniz."
      [(ngModel)]="loginUser.password"
      required
    />
  </div>
  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

</div>

</div>