<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container my-3 pl-2">
      <a class="navbar-brand" style="font-size: larger" [routerLink]="['home/homepage']" routerLinkActive="router-link-active" >DUNGEON CITY</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 px-3 mb-lg-0">
          <li class="nav-item mx-1">
            <a class="nav-link" aria-current="page" [routerLink]="['home/scoreboard']" routerLinkActive="router-link-active" 
              >Skor Tablosu</a
            >
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" [routerLink]="['home/item']" routerLinkActive="router-link-active" >Eşyalara Göz At</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <div *ngIf="!isAuthenticated" class="navbar-text nav-item">
          <button
            type="button"
            class="btn btn-dark basla"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            style="font-size: 24;"
          >
            MACERAYA BAŞLA
          </button>
        </div>
        <div *ngIf="isAuthenticated" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i>
              {{user.userName}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Profilim</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li *ngIf="isAdmin"><a class="dropdown-item" [routerLink]="['/admin']" routerLinkActive="router-link-active"  href="#">Admin Paneli</a></li>
              <li><a class="dropdown-item" (click)="logOut()" href="#">Çıkış Yap</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
  
  <div
    class="modal fade"
    id="loginModal"
    aria-hidden="true"
    aria-labelledby="loginModal"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Peki Hazır Mısın?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row d-flex justify-content-evenly">
            <div class="col-5 justify-content-center">
              <span class="d-block my-3">Hesabım Var</span>
              <div class="d-grid gap-1 d-block">
                <button data-bs-dismiss="modal" [routerLink]="['home/login']" routerLinkActive="router-link-active"  class="btn btn-dark btn-lg mx-auto col-12" type="button">Giriş Yap</button>
              </div>
            </div>
            <div class="col-5 text-align-center">
              <span class="d-block my-3">Henüz Hesabım Yok</span>
              <div class="d-grid gap-4 d-block">
                <button data-bs-dismiss="modal" [routerLink]="['home/register']" routerLinkActive="router-link-active"  class="btn btn-dark btn-lg mx-auto col-12" type="button">Kayıt Ol</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
